{
  "presets": [
    "@babel/env",
    "@babel/preset-typescript"
  ],
  "plugins": [
    ["@babel/plugin-transform-modules-umd", {
      "globals": {
        "iterize": "Iterize"
      },
      "exactGlobals": true
    }],
    "@babel/plugin-transform-runtime"
  ],
  "env": {
    "production": {
      "presets": [
        "minify"
      ]
    }
  }
}
