{
  "presets": [
    ["@babel/env",{
      "targets": {
        "chrome": "58",
        "ie": "11"
      }
    }],
    "@babel/preset-typescript"
  ],
  "plugins": [
    ["@babel/plugin-transform-modules-umd", {
      "globals": {
        "iterize": "Iterize"
      },
      "exactGlobals": true
    }],
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-class-properties"
  ],
  "env": {
    "production": {
      "presets": [
        "minify"
      ]
    }
  }
}
